# Ignores threat information directory for security
/list/

# threat CSV files
/threatCSV/

# Automatically created python cache directory
__pycache__     

# Directory for python venv
/c2lemon/       

# Visual Studio Code setting directory
.vscode

# data directory is a archived data of responses.
/data/

# ignore monitor agent. It has its own repo independently.
/monitor_agent/